<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Nitesco logo" class="db center mb4 br0" style="width:160px; background:white; padding:8px; border-radius:4px">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Nitesco</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/services" class="link">Services</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">News</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Quick Links</h3>
				<ul class="mb3">
					<li><a href="/services" class="link">Our Services</a></li>
					<li><a href="/contact" class="link">Request a Proposal</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social Media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Nitesco on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Nitesco on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Nitesco on Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "Nitesco on LinkedIn") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

