<div class="bg-grey-1 pv6">
        <div class="ph3 mw8 center">

                <div class="flex-l mhn2-l items-center">
                        <div class="w-40-l ph4-l mb5 mb0-l">
                                <h2 class="f2 b lh-title mb4 text-gradient">{{.heading}}</h2>

                                <p class="f4 lh-copy mb4 dark-gray">{{.text}}</p>

                                <div class="mt4">
                                     <a href="{{.buttonLink}}" class="btn ph4 pv3 br-pill f5 b dib link">{{.buttonText}}</a>
                                </div>
                        </div>

                        <div class="w-60-l ph4-l">
                                <img src="/img/org-structure.png" alt="Org Structure" class="mb3 br3 shadow-1 grow w-100">
                        </div>
                </div>

        </div>
</div>
